.chats {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  align-items: flex-start;

  .card {
    flex: 0 0 100%;
    max-height: 50%;
    min-height: 50%;
    width: 100%;
    overflow: hidden;
  }
  .card-block {
    padding: 0;
    height: 100%;
    overflow-y: hidden;
  }
}

.messages-view {
  font-size: 0.85em;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 1/16);

  .message-input {
    padding: 1em;
    border: none;
    box-sizing: border-box;
    resize: none;
    flex-grow: 1;
  }

  .send-area {
    background-color: #fff;
    display: flex;
  }

  .message-box {
    margin-top: 1em;
    margin-bottom: 1em;

    &.remote {
      .message-content, .message-date {
        background-color: white;
      }
    }
  }

  .messages-list {
    padding: 1em;
  }

  .message-content {
    width: 65%;
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 1/8);
  }

  .message-text {
    font-size: 0.9em;
  }

  .message-date {
    width: 20%;
    background-color: rgba(0, 0, 0, 1/8);
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-align: center;
    padding: 0.5em;
  }
}
