@import "./variables.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "~tether/src/css/tether.sass";

body, html {
  height: 100%;
  min-height: 100%;
}

body {
  box-sizing: border-box;
  padding-top: 3.5rem;
  background-color: rgb(244, 244, 244);
}

#root, #root > div {
  height: 100%;
  min-height: 100%;
}

.loading-container {
  width: 100%;
  text-align: center;
  margin-top: 2em;
}

.btn-login {
  @include button-variant(#fff, rgb(59, 123, 218), rgb(59, 123, 218));
}

.btn-darker-primary {
  @include button-variant(#fff, darken($brand-primary, 10%), darken($brand-primary, 10%));
}
